<% layout('layouts/boilerplate') %>

<div class="row">
  <div class="col-6 offset-3 text-center">
    <h1 class="display-6"><%= service.name %></h1>
    <p><%= service.description %></p>
    <p><%= service.basePrice %></p>
    <p><%= service.category %></p>
    <a href="/services/<%= service.id %>/edit" class="btn btn-primary">Edit</a>
  </div>
  <form action="/services/<%= service.id %>?_method=DELETE" method="post">
  <button class="btn btn-danger">Delete</button></form>
</div>


</div>
